/* for screens below 768px */
.background {
    background-image: url('/background/HeroPhone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
/* for tablets */
@media (min-width: 768) {
  .background {
    background-image: url('/background/HeroTablet.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  }
}
/* for desktops */
@media (min-width: 1024) {
  .background {
    background-image: url('/background/HeroDesktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  }
}


.purpleBg {
  background-color: #7c3aed;
}

.purpleBorder {
  border: solid transparent;
  border-width: 2px;
  border-radius: 7px;
  padding: 10px;
  transition: border-color 0.3s ease;
}
.purpleBorder:hover {
  border-color: #7c3aed;
}